/* Định dạng chính cho phần lịch */
.calendarContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    border-radius: 50px;
    box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.8);
  }
  
  /* Phong cách tiêu đề */
  .calendarTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Phong cách cho modal overlay */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Nội dung chính của modal */
  .modalContent {
    width: 400px;
    max-width: 90%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Hiệu ứng fade-in cho modal */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  /* Tiêu đề modal */
  .modalTitle {
    font-size: 20px;
    font-weight: bold;
    
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Phong cách ngày và mô tả sự kiện */
  .modalDate {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .modalDescription {
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  
  /* Phong cách textarea */
  .textArea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    margin-top: 8px;
  }
  
  /* Phong cách cho các nút */
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .cancelButton {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: #2051f0;
    color: #ddd;
  }

  .cancelButton:hover {
    background-color: #15359c;
  }
  
  

  .eventContainer {
    
    border-radius: 8px; /* Bo tròn sự kiện */
    padding: 5px;
    cursor: pointer; /* Con trỏ dạng pointer khi di chuột vào sự kiện */
  }
  
 
  

  




  /* Lớp CSS cho ngày hôm nay */
.Today {
  background-color: #ffeb3b; /* Màu nền vàng sáng cho ngày hôm nay */
  font-weight: bold;
}

  
  